{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"printWidth": 180,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"htmlWhitespaceSensitivity": "ignore"
}
